<?xml version="1.0" encoding="UTF-8"?>
<Installer>
     <Name>BioVision</Name>
     <Version>3.0.0</Version>
     <Title>BioVision Installer</Title>
     <Publisher>University of Michigan-Dearborn</Publisher>
     <Icon>appico</Icon>
     <Logo>logo2.png</Logo>
     <ProductUrl>http://www.nhdlite.com/BioVision/</ProductUrl>
     <StartMenuDir>BioVision</StartMenuDir>
     <TargetDir>@rootDir@BioVision</TargetDir>
     <UninstallerName>UninstallBioVision</UninstallerName>
</Installer>